
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-12">
                <mat-card class="card">
                    <mat-card-content>
                        <p class="output firstName"> First Name: {{ childCard.firstName }}</p>
                        <p class="output lastName"> Last Name: {{ childCard.lastName }}</p>
                        <p class="output age"> Age: {{ childCard.age }}</p>
                        <p class="output weight"> Weight: {{ childCard.weight | weight}}</p>
                        <p class="output height"> Height: {{ childCard.height | height}}</p>
                        <p class="output isRetired"> Retired: {{ childCard.isRetired }}</p>
                        <p class="output nationality"> Nationality: {{ childCard.nationality }}</p>
                        <p class="output oscarNumber"> Number of Oscar: {{ childCard.oscarNumber }}</p>
                        <p class="output profession"> Profession: {{ childCard.profession }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

            